<div class="card">
  <div class="p-grid">
    <div class="p-col-10">
      <label class="title">Catalogo de productos - Tienda Online</label>
    </div>
    <div class="p-col-2 p-text-right">
      <p-button label="Cerrar sesion" (click)="closeSession()"></p-button>
    </div>
    <div class="p-col-12">
      <hr>
    </div>
    <div class="p-col-9">
      <label class="subTitle" *ngIf="boutique">Productos Disponibles</label>
      <label class="subTitle" *ngIf="!boutique">Carrito de compras</label>
    </div>
    <div class="p-col-3">
      <p-button label="Ir al carrito de compras" (click)="shoppingCart()" *ngIf="boutique"></p-button>
      <p-button label="Ir al catalogo de productos" (click)="shoppingCart()" *ngIf="!boutique"></p-button>
    </div>
  </div>
</div>

<app-category *ngIf="boutique"></app-category>
<app-sale *ngIf="!boutique"></app-sale>

<p-dialog header="Informacion" [(visible)]="display" [modal]="true">
  <label class="subTitle">Hemos recibido su solicitud y será procesada por nuestras agentes. Gracias por su
    compra</label>
</p-dialog>
